#placar{
	margin: auto;
	margin-top:30px;
	width:252px;
	height:80px; 
	/* centralizou o placar, aumentou a margem superior, deixou o tabuleiro um pouco mais para baixo */
}
#ganhador{
	display: flex; /* para deixar mais fexivel*/
	align-content: center;  /* para deixar o texto mais para baixo*/
	align-items: center; 
	justify-content: center;/* para centralizar */
	position:absolute;
	width:80%;
	height: 20%;
	margin-left:4%; /* usei para deixar o texto na posição que eu queria*/
	margin-bottom:30%;
}
#velha{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position:absolute;
	width:80%;
	height: 20%;
	margin-left:4%;
	margin-bottom:30%;

}
.espaco{
	width:80px;
	height:80px;
	border:2px solid #000; /* para deixar o tamnho, a posição desejada*/
	float: left;
	text-align: center;
	padding-top: 0px;

}
.casas{
	margin: auto;
	width: 252px;
	margin-top: 20px;
}	
p {
	float: left;
	margin-right: 10px;
}
.xjpg{
	background-image: url(img/x.jpg);
	background-repeat: no-repeat;
	background-position: center;  /* para chamar as imagens com o tamanho desejado no JS */
	height:50px;
	
}
.circulopng{
	background-image: url(img/circulo.png);
	background-repeat: no-repeat;
	background-position: center;
	height:50px;
}
button{
	margin-top: 10px;
	border-radius: 5px;
	height: 30px;
	background-color:#DCDCDC;
}

